@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
	scrollbar-width: thin;
	/* transition: all 0.3s; */
}

html,
body {
	--light-blue: #00c3e31c;
	--blue: #00c3e3;
	--dark-blue: #008196;
	--darker-blue: #13616e;
	--light-pink: #fff1f3;
	--pink: #ff4554;
	--dark-pink: #d63a47;
	--darker-pink: #a2202b;
	--light-orange: #d78e1422;
	--orange: #ffba00;
	--dark-orange: #d78e14;
	--light-grey: #ebebeb;
	--grey: #a5a5a5;
	--dark-grey: #858585;
	--darker-grey: #555;
	--red: #e60012;
	--light-green: #f2f8f3;
	--green: #55c75a;
	--dark-green: #08860d;

	--topbar-height: 4rem;


	font-family:
		'Figtree',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
}
body {
	counter-reset: tasks;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-weight: inherit;
}

h1 {
	margin: 0;
	font-size: 3rem;
}

h2 {
	border-bottom: 1px solid;
}

p {
	font-size: 1rem;
	margin-block: 1rem;
}

a {
	color: var(--grey);
	text-decoration: none;

	&:focus,
	&:hover {
		color: var(--dark-grey);
	}
	&::visited {
		color: inherit;
	}
}

h2, hr {
	border-color: var(--grey);
}

.svelte {
	h2 {
		border-color: var(--dark-orange);
	}
	blockquote {
		color: var(--dark-orange);
		border-color: var(--dark-orange);
		background-color: var(--light-orange);
	}
	hr {
		border-color: var(--dark-orange);
	}
}
.kit {
	h2 {
		border-color: var(--dark-blue);
	}
	blockquote {
		color: var(--dark-blue);
		border-color: var(--dark-blue);
		background-color: var(--light-blue);
	}
	hr {
		border-color: var(--dark-blue);
	}
}

.svelte a,
nav:last-of-type:not(:first-of-type) .nav-link:last-of-type.svelte {
	color: var(--dark-orange);

	&:focus,
	&:hover {
		color: var(--orange);
	}
}
.kit a,
nav:last-of-type:not(:first-of-type) .nav-link:last-of-type.kit {
	color: var(--dark-blue);

	&:focus,
	&:hover {
		color: var(--blue);
	}
}

blockquote {
	margin-block: 1rem;
	padding: 0.5rem;
	font-style: italic;
	color: var(--dark-grey);
	border-color: var(--dark-grey);
	background-color: var(--light-grey);
	border-left: 4px solid;
	border-radius: 5px;

	a:hover,
	a:focus {
		color: black;
	}

	p {
		margin: 0;
	}
}

code {
	color: var(--dark-grey);
	font-size: 0.9rem;
}

pre code,
h1 code,
h2 code {
	font-size: inherit;
}

h1, h2 {
	code {
		color: inherit;
	}
}

pre {
	margin-block: 1rem;
	padding: 0.5rem 1rem;
	tab-size: 4;

	code {
		color: inherit;
		text-wrap: wrap;#414548
	}
}

fieldset {
	legend {
		font-size: 1.5rem;
	}
}

h2:has(+ .task) {
	border: none;
	margin-bottom: 0;
}

.task {
	padding: 1rem;
	border: 2px solid var(--green);
	border-radius: 5px;

	p:first-of-type {
		margin-top: 0rem;
	}

	blockquote {
		border-left-color: var(--green);
		background-color: var(--light-green);
		color: var(--dark-green);
	}

	li {
		margin-block: 0.5rem;
		counter-increment: tasks;

		&::marker {
			content: '#' counter(tasks) ' ';
			font-size: 1.2rem;
			color: var(--green);
		}

		p {
			margin: 0;
		}
	}

	code {
		color: var(--dark-green);
		font-weight: 500;
	}
}

button {
	border: none;

	&:hover {
		cursor: pointer;
	}
}

hr {
	margin-block: 2rem 1rem;
	border: none;
	border-bottom: 1px solid;
}
